// variable overrides
@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";
/*Roboto*/
@font-face {
    font-family: 'Roboto-Regular';
    src: local('Roboto-Regular'), url(./fonts/Roboto-Regular.ttf) format("truetype");
}
@font-face {
    font-family: 'Roboto-Bold';
    src: local('Roboto-Bold'), url(./fonts/Roboto-Bold.ttf) format("truetype");
}
@font-face {
    font-family: 'Roboto-Medium';
    src: local('Roboto-Medium'), url(./fonts/Roboto-Medium.ttf) format("truetype");
}
