.customer-details-container{
  .row{
    div{
      img{
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 50%;
      }
      .details-item{
        font-size: 20px;
        .details-heading{
          font-family: Roboto-Bold, sans-serif;
        }
      }
    }
  }
}

// Media query start
@media only screen and (max-width: 450px) {

}
@media only screen and (max-width: 600px) {
  div.customer-details-container{
    .row{
      div{
        img{
          width: 200px;
          height: 200px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
  }
}
/* Small devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

}

/* Medium devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

}

/* Large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1400px) {

}
// Media query end
