.card-container{
  .card{
    //margin: 5px;
    min-height: 135px;
    padding: 0 15px 15px 15px;
    color: #f7f7f7;
    .card-title{
      font-size: 30px;
      font-family: "Roboto-Bold", sans-serif;
    }
    .card-subtitle{
      font-size: 15px;
    }
  }
}
