$table-text-color: #a3a7b8;

.invoice-container{
  height: 100vh;
  color: $table-text-color;
  padding: 20px 100px 0 100px;
  .label-box{
    height: 30px;
  }
  .invoice-title{
    margin-top: 70px;
    font-family: Roboto-Bold, sans-serif;
  }
  .fist-row{
    margin-top: 70px;
    line-height: 10px;
    font-family: Roboto-Regular, sans-serif;
  }
  .second-row{
    margin-top: 30px;
    line-height: 10px;
    font-family: Roboto-Regular, sans-serif;
  }
  .row{
    table{
      color: $table-text-color;
    }
    h5{
      font-family: Roboto-Bold, sans-serif;
    }
  }
}
