$table-text-color: #a3a7b8;

.sell-container{
  .row{
    div{
      table{
        color: $table-text-color;
        tbody {
          tr{
            td{
              .quantity-input-field{
                width: 60px;
              }
            }
          }
        }
      }
      .customer-image {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
    }
  }
  .invoice-container{
    .print-button{

    }
  }
}
