$select-menu-text-color: #a3a7b8;

.add-products-container{
  .row{
    div{
      form{
        div{
          select, .quantity-input{
            color: $select-menu-text-color;
          }
        }
      }
    }
  }
}
