$table-text-color: #a3a7b8;

.products-container{
  .table-container{
    overflow-y: scroll;
    table{
      color: $table-text-color;
    }
   .product-picture{
     display: flex;
     justify-content: center;
     img{
       width: 50px;
       height: 50px;
       border-radius: 5px;
       object-fit: cover;
     }
   }
  }
}


// Media query start
@media only screen and (max-width: 450px) {

}
@media only screen and (max-width: 600px) {

}
/* Small devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

}

/* Medium devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

}

/* Large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1400px) {

}
// Media query end
